provisioning/roles/environment/files/Nifi-NOE-Final-Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b45f3e71-0188-1000-b7e8-96ef91b7876e</groupId>
    <name>Nifi-NOE-Final-Template</name>
    <snippet>
        <connections>
            <id>18e5e8e4-737d-31c5-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>18e5e8e4-737d-31c5-bd46-b5a1031de350</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>824.0</x>
                <y>664.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>61bed273-725c-3855-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>61bed273-725c-3855-ade7-a562b5b54550</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1bf47ce1-85cb-3538-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>1bf47ce1-85cb-3538-bf6e-17c18ec90756</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1112.0</x>
                <y>528.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0ec95a02-d074-3438-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0ec95a02-d074-3438-baa9-0ece092301b1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>32d918e7-c898-32ee-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>32d918e7-c898-32ee-97d8-5e58b92b4888</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>c7d5bf36-0df0-3420-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c7d5bf36-0df0-3420-90bf-2e0bd74f40f1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>UPDATE_DB</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0ec95a02-d074-3438-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0ec95a02-d074-3438-baa9-0ece092301b1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3c1df81e-3af1-3782-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>3c1df81e-3af1-3782-accf-dbf5d72508c6</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>894214eb-5f7e-3938-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>894214eb-5f7e-3938-9754-bdc4732d10a8</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>7a6dd160-6946-3dee-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7a6dd160-6946-3dee-96f0-0571b598a1e9</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>425f67eb-2cc1-3238-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>425f67eb-2cc1-3238-8f79-f06e81f9e472</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>893.0</x>
                <y>572.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0ec95a02-d074-3438-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0ec95a02-d074-3438-baa9-0ece092301b1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Sanitizer2</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>490cee1e-e535-36ea-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>490cee1e-e535-36ea-9248-8e2161113358</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>c7d5bf36-0df0-3420-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c7d5bf36-0df0-3420-90bf-2e0bd74f40f1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>UPDATE_DB</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0eefedd4-3793-3e90-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0eefedd4-3793-3e90-aec9-90ac22a6e040</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4d4cfee2-c18d-3d1a-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>4d4cfee2-c18d-3d1a-a834-988165b475d4</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>765.0</x>
                <y>228.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>ab13d985-d3ba-3463-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ab13d985-d3ba-3463-8b06-47412350cee8</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>664b723a-46a7-3777-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>664b723a-46a7-3777-b86b-1cef250c2b6f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>c7d5bf36-0df0-3420-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c7d5bf36-0df0-3420-90bf-2e0bd74f40f1</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>UPDATE_DB</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>61bed273-725c-3855-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>61bed273-725c-3855-ade7-a562b5b54550</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7c86240e-04dd-3705-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>7c86240e-04dd-3705-a132-13b73b4b5b8a</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>477.0</x>
                <y>332.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>d13f3e4a-e2ad-3542-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>d13f3e4a-e2ad-3542-8939-1d93d7c8beae</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Landing_Zone</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7ea0bf33-79e7-306a-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>fd951318-4a5c-3f16-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>fd951318-4a5c-3f16-877c-82d77aba1edd</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>UPDATE_DB</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>ab13d985-d3ba-3463-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ab13d985-d3ba-3463-8b06-47412350cee8</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9ccebfca-5f3d-3c0a-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>9ccebfca-5f3d-3c0a-9558-90c198ccd145</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1109.0</x>
                <y>340.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0eefedd4-3793-3e90-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0eefedd4-3793-3e90-aec9-90ac22a6e040</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a94733c2-86fa-3f32-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>a94733c2-86fa-3f32-ad91-b58435512900</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0eefedd4-3793-3e90-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0eefedd4-3793-3e90-aec9-90ac22a6e040</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Sanitizer3</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bdf295fe-6ed8-3d77-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>bdf295fe-6ed8-3d77-9c13-e7cfde96aa05</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>853.0</x>
                <y>348.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>ab13d985-d3ba-3463-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ab13d985-d3ba-3463-8b06-47412350cee8</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Analyzer1</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c5b17fbc-092c-36f7-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>c5b17fbc-092c-36f7-80bf-a4f3f4149435</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>efdb364a-f612-32d1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>efdb364a-f612-32d1-aaca-7c2bac3f44d4</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>775cd8bb-cbd0-313b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>775cd8bb-cbd0-313b-9785-6e796b978951</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c85262e1-dc45-3506-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>c85262e1-dc45-3506-9002-f51306c18392</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>504.0</x>
                <y>664.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>894214eb-5f7e-3938-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>894214eb-5f7e-3938-9754-bdc4732d10a8</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cba1968e-0fa9-31d6-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>cba1968e-0fa9-31d6-a984-9612c28ab5d8</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>61bed273-725c-3855-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>61bed273-725c-3855-ade7-a562b5b54550</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Sanitizer1</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d69d043d-8d53-328d-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>d69d043d-8d53-328d-9ec7-d984056fca58</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>637.0</x>
                <y>172.0</y>
            </bends>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>ac88dd05-9c85-3186-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>ac88dd05-9c85-3186-8bf7-6dd0fe1f7e23</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Failure</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4a412677-928c-3132-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>de9db1e8-be55-324e-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>de9db1e8-be55-324e-9bff-061420716624</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4d51a4d0-4e71-36d0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4d51a4d0-4e71-36d0-9a3e-0fd61b6df4fc</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>fd951318-4a5c-3f16-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>fd951318-4a5c-3f16-877c-82d77aba1edd</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>eee1f486-f5fb-3ea4-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>eee1f486-f5fb-3ea4-bd81-67e4c3d3055d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0195a794-a0fd-3687-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0195a794-a0fd-3687-a3e6-ac4a4b0e8d18</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>efdb364a-f612-32d1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>efdb364a-f612-32d1-aaca-7c2bac3f44d4</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>efda94ee-0c63-3c19-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>efda94ee-0c63-3c19-842d-6e3fe9668926</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>7a6dd160-6946-3dee-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7a6dd160-6946-3dee-96f0-0571b598a1e9</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>0195a794-a0fd-3687-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>0195a794-a0fd-3687-a3e6-ac4a4b0e8d18</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ff5a0fe1-08c8-32d5-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>ff5a0fe1-08c8-32d5-9594-cc5e93627432</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>a7801a74-94b7-3a4f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a7801a74-94b7-3a4f-a87f-ad886ee34503</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ce4211fd-07f2-3cb0-0000-000000000000</groupId>
                <id>4d51a4d0-4e71-36d0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4d51a4d0-4e71-36d0-9a3e-0fd61b6df4fc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>45aac285-a22e-30da-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <versionedComponentId>45aac285-a22e-30da-80bc-f507572ed9b6</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mariadb://localhost:3306/siaft?user=vagrant&amp;password=vagrant</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.mariadb.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi-latest/lib/mariadb-java-client-3.1.4.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>0195a794-a0fd-3687-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>384.0</y>
            </position>
            <versionedComponentId>0195a794-a0fd-3687-a3e6-ac4a4b0e8d18</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors/>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties/>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>WorkflowSelector</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.WorkflowSelector</type>
        </processors>
        <processors>
            <id>0ec95a02-d074-3438-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>968.0</x>
                <y>648.0</y>
            </position>
            <versionedComponentId>0ec95a02-d074-3438-baa9-0ece092301b1</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>
                            <name>Sanitize Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>
                            <name>Sanitize Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>Sanitizer2</value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>/home/nifi/data/sanitizer2.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockSanitizer2/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockSanitizer2/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Mock Sanitizer 2</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>UPDATE_DB</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.SanitizeEngineProcessor</type>
        </processors>
        <processors>
            <id>0eefedd4-3793-3e90-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>1165.0</x>
                <y>372.0</y>
            </position>
            <versionedComponentId>0eefedd4-3793-3e90-aec9-90ac22a6e040</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>
                            <name>Sanitize Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>
                            <name>Sanitize Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>Sanitizer3</value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>/home/nifi/data/sanitizer3.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockSanitizer3/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockSanitizer3/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Mock Sanitizer 3</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>UPDATE_DB</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.SanitizeEngineProcessor</type>
        </processors>
        <processors>
            <id>4a412677-928c-3132-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>509.0</x>
                <y>404.0</y>
            </position>
            <versionedComponentId>4a412677-928c-3132-9b68-36a3106c0e7c</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>relationships</key>
                        <value>
                            <name>relationships</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pdf</key>
                        <value>
                            <name>pdf</name>
                        </value>
                    </entry>
                    <entry>
                        <key>doc</key>
                        <value>
                            <name>doc</name>
                        </value>
                    </entry>
                    <entry>
                        <key>docx</key>
                        <value>
                            <name>docx</name>
                        </value>
                    </entry>
                    <entry>
                        <key>docm</key>
                        <value>
                            <name>docm</name>
                        </value>
                    </entry>
                    <entry>
                        <key>xls</key>
                        <value>
                            <name>xls</name>
                        </value>
                    </entry>
                    <entry>
                        <key>xlsx</key>
                        <value>
                            <name>xlsx</name>
                        </value>
                    </entry>
                    <entry>
                        <key>xlsm</key>
                        <value>
                            <name>xlsm</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ppt</key>
                        <value>
                            <name>ppt</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pptx</key>
                        <value>
                            <name>pptx</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pptm</key>
                        <value>
                            <name>pptm</name>
                        </value>
                    </entry>
                    <entry>
                        <key>png</key>
                        <value>
                            <name>png</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jpg</key>
                        <value>
                            <name>jpg</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gif</key>
                        <value>
                            <name>gif</name>
                        </value>
                    </entry>
                    <entry>
                        <key>bmp</key>
                        <value>
                            <name>bmp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tif</key>
                        <value>
                            <name>tif</name>
                        </value>
                    </entry>
                    <entry>
                        <key>txt</key>
                        <value>
                            <name>txt</name>
                        </value>
                    </entry>
                    <entry>
                        <key>error</key>
                        <value>
                            <name>error</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>relationships</key>
                        <value>Analyzer1,Sanitizer1,Analyzer2,Sanitizer2,Analyzer3,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>pdf</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Analyzer1,Analyzer2,Analyzer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>doc</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>docx</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>docm</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>xls</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>xlsx</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>xlsm</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>ppt</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>pptx</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>pptm</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>png</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>jpg</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>gif</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>bmp</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>tif</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>txt</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Analyzer1,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>error</key>
                        <value>Landing_Zone</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DynamicRouter</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Analyzer1</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Analyzer2</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Analyzer3</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Landing_Zone</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Sanitizer1</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Sanitizer2</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Sanitizer3</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.DynamicRouter</type>
        </processors>
        <processors>
            <id>4d51a4d0-4e71-36d0-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>1541.0</x>
                <y>356.0</y>
            </position>
            <versionedComponentId>4d51a4d0-4e71-36d0-9a3e-0fd61b6df4fc</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Analysis.Success</key>
                        <value>
                            <name>Analysis.Success</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Analysis.Success</key>
                        <value>${analysis_success:equals('analyzed')}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Convert Analyzer Success to Boolean</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>61bed273-725c-3855-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>544.0</x>
                <y>704.0</y>
            </position>
            <versionedComponentId>61bed273-725c-3855-ade7-a562b5b54550</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>
                            <name>Sanitize Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>
                            <name>Sanitize Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>Sanitizer1</value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>/home/nifi/data/sanitizer1.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockSanitizer1/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockSanitizer1/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Mock Sanitizer 1</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>UPDATE_DB</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.SanitizeEngineProcessor</type>
        </processors>
        <processors>
            <id>775cd8bb-cbd0-313b-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>775cd8bb-cbd0-313b-9785-6e796b978951</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/home/nifi/data/in</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>7a6dd160-6946-3dee-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>576.0</y>
            </position>
            <versionedComponentId>7a6dd160-6946-3dee-96f0-0571b598a1e9</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hash Attribute Name</key>
                        <value>
                            <name>Hash Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Algorithm</key>
                        <value>
                            <name>Hash Algorithm</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hash Attribute Name</key>
                        <value>MD5</value>
                    </entry>
                    <entry>
                        <key>Hash Algorithm</key>
                        <value>MD5</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Calculate and Add MD5</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.HashContent</type>
        </processors>
        <processors>
            <id>894214eb-5f7e-3938-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>768.0</y>
            </position>
            <versionedComponentId>894214eb-5f7e-3938-9754-bdc4732d10a8</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>45aac285-a22e-30da-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>insert into siaft.FileAttributes values(null,'${siaft.uuid}','${MD5}','${filename}','${siaft.entry}',Now(),null);</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Write File Attributes to the Database</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>a7801a74-94b7-3a4f-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>1557.0</x>
                <y>540.0</y>
            </position>
            <versionedComponentId>a7801a74-94b7-3a4f-a87f-ad886ee34503</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>45aac285-a22e-30da-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>insert into siaft.Analysis values(null,(select PK_FileAttributes_ID from siaft.FileAttributes where UUID='${siaft.uuid}'),(select PK_AnalyzeEngine_ID from siaft.AnalyzeEngines where EngineName='${analysis_engine_name}'),(select PK_SanitizeEngine_ID from siaft.SanitizeEngines where EngineName='${sanitize_engine_name}'),${Analysis.Success},'${Analysis.Results}',now(),null);</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Write Analyzer Results to the Database</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>ab13d985-d3ba-3463-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>885.0</x>
                <y>156.0</y>
            </position>
            <versionedComponentId>ab13d985-d3ba-3463-8b06-47412350cee8</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Analysis Engine</key>
                        <value>
                            <name>Analysis Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Analysis Service</key>
                        <value>
                            <name>Analysis Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Analysis Engine</key>
                        <value>analyzer1</value>
                    </entry>
                    <entry>
                        <key>Analysis Service</key>
                        <value>/home/nifi/data/analyzer1.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockAnalyzer1/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockAnalyzer1/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Mock Analyzer 1</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>UPDATE_DB</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.AnalysisEngineProcessor</type>
        </processors>
        <processors>
            <id>ac88dd05-9c85-3186-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>765.0</x>
                <y>4.0</y>
            </position>
            <versionedComponentId>ac88dd05-9c85-3186-8bf7-6dd0fe1f7e23</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/home/nifi/data/error</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Write File to Error Directory</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>c7d5bf36-0df0-3420-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>1360.0</x>
                <y>848.0</y>
            </position>
            <versionedComponentId>c7d5bf36-0df0-3420-90bf-2e0bd74f40f1</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>45aac285-a22e-30da-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>insert into siaft.Sanitize values(null,(select PK_FileAttributes_ID from siaft.FileAttributes where UUID='${siaft.uuid}'),(select PK_SanitizeEngine_ID from siaft.SanitizeEngines where EngineName='${sanitize_engine_name}'),'${process_success}','${process_md5}','${process_mime}',now(),null);</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Write Sanitizer Results to the Database</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>d13f3e4a-e2ad-3542-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>373.0</x>
                <y>4.0</y>
            </position>
            <versionedComponentId>d13f3e4a-e2ad-3542-8939-1d93d7c8beae</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/home/nifi/data/out</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Write File to Out Directory</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>efdb364a-f612-32d1-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>192.0</y>
            </position>
            <versionedComponentId>efdb364a-f612-32d1-aaca-7c2bac3f44d4</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OriginalUUID</key>
                        <value>
                            <name>OriginalUUID</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>OriginalUUID</key>
                        <value>${uuid}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Store Original UUID</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>fd951318-4a5c-3f16-0000-000000000000</id>
            <parentGroupId>ce4211fd-07f2-3cb0-0000-000000000000</parentGroupId>
            <position>
                <x>1501.0</x>
                <y>164.0</y>
            </position>
            <versionedComponentId>fd951318-4a5c-3f16-877c-82d77aba1edd</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Analysis.Results</key>
                        <value>
                            <name>Analysis.Results</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Analysis.Results</key>
                        <value>$.results.[0].classification</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Read Analysis Result</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
    </snippet>
    <timestamp>06/22/2023 09:25:43 EDT</timestamp>
</template>
