FAF_Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>NiFi flow for open source FAF</description>
    <groupId>de5b21f4-0188-1000-1659-6a56a9d9391a</groupId>
    <name>FAF Template</name>
    <snippet>
        <connections>
            <id>58128c3d-56af-3ad6-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>58128c3d-56af-3ad6-aef7-700c8918c4b0</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>2ecd9cf9-600a-3137-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2ecd9cf9-600a-3137-8c76-f6ffe9775b5d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>UPDATE_DB</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>c4cd99a3-9341-3b2f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c4cd99a3-9341-3b2f-98e1-f7e8531a23a7</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6313f797-ebe3-35be-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>6313f797-ebe3-35be-a067-a882d5fa3f1e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>2ecd9cf9-600a-3137-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2ecd9cf9-600a-3137-8c76-f6ffe9775b5d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>UPDATE_DB</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>245205a2-79e0-3182-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>245205a2-79e0-3182-ad99-64ac66ba3dce</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>643ff1b8-5555-31bf-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>643ff1b8-5555-31bf-8f40-7e2b00e59cfa</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>245205a2-79e0-3182-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>245205a2-79e0-3182-ad99-64ac66ba3dce</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Sanitizer1</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6d7f1ff0-2276-349a-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>6d7f1ff0-2276-349a-b5b2-4d7d9d30f786</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>824.0</x>
                <y>664.0</y>
            </bends>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>245205a2-79e0-3182-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>245205a2-79e0-3182-ad99-64ac66ba3dce</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>71ce9966-38c3-31d0-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>30a4218e-502f-3d4c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>a68ee6c5-5d72-34f6-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a68ee6c5-5d72-34f6-befd-6b192f96bc7f</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7f607431-5c1a-36a2-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>7f607431-5c1a-36a2-b0b0-825570cc8423</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>e8326cb4-f986-34a0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e8326cb4-f986-34a0-9c93-fea7d606cc95</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>27274d8c-9010-38ea-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>27274d8c-9010-38ea-8450-8d115fc5afa7</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8260bb95-3e34-3565-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>8260bb95-3e34-3565-81d5-f8c03aaffe0e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>3b7d5afb-9c26-3576-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3b7d5afb-9c26-3576-82f1-7543b3d512b6</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>e8326cb4-f986-34a0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e8326cb4-f986-34a0-9c93-fea7d606cc95</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>836ec0c9-9620-3faa-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>836ec0c9-9620-3faa-8fa9-cc03152d38f6</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>2ecd9cf9-600a-3137-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2ecd9cf9-600a-3137-8c76-f6ffe9775b5d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>UPDATE_DB</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>700d9374-43b6-3fdb-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>700d9374-43b6-3fdb-b0d2-b073c2e2a3a0</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9341d2ca-b669-32a2-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>9341d2ca-b669-32a2-bd29-26e3430e77ff</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>856.0</x>
                <y>552.0</y>
            </bends>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>700d9374-43b6-3fdb-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>700d9374-43b6-3fdb-b0d2-b073c2e2a3a0</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Sanitizer2</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>98b604b3-1f5d-3edb-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>98b604b3-1f5d-3edb-9c1d-49c6ed579fef</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>a68ee6c5-5d72-34f6-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a68ee6c5-5d72-34f6-befd-6b192f96bc7f</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>e4a61731-ee7f-3442-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e4a61731-ee7f-3442-980f-32b8899de33c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a9eb64dd-5e99-347c-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>a9eb64dd-5e99-347c-a216-7a41c795d00e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>c4cd99a3-9341-3b2f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c4cd99a3-9341-3b2f-98e1-f7e8531a23a7</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Sanitizer3</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>abf23a0e-a603-33b8-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>abf23a0e-a603-33b8-b419-d51006c97bba</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1112.0</x>
                <y>528.0</y>
            </bends>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>700d9374-43b6-3fdb-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>700d9374-43b6-3fdb-b0d2-b073c2e2a3a0</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bf1a7c5c-bd91-3811-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>bf1a7c5c-bd91-3811-bae5-df6903165551</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>e4a61731-ee7f-3442-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>e4a61731-ee7f-3442-980f-32b8899de33c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Analyzer1</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c4e63bd8-09a9-3274-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>c4e63bd8-09a9-3274-9476-8b6e83e2c5ea</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>504.0</x>
                <y>664.0</y>
            </bends>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>3b7d5afb-9c26-3576-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3b7d5afb-9c26-3576-82f1-7543b3d512b6</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c4fb00fe-81d3-3883-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>c0d6c15f-c2f9-3fb8-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c0d6c15f-c2f9-3fb8-bc31-3c8f89378934</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>30a4218e-502f-3d4c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cb29c062-6da3-3eeb-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>cb29c062-6da3-3eeb-bc89-45afba9421e5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>27274d8c-9010-38ea-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>27274d8c-9010-38ea-8450-8d115fc5afa7</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>09c83769-4549-3930-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>09c83769-4549-3930-9b62-d9c4379888cc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d592ea6a-5a5d-3477-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>d592ea6a-5a5d-3477-a662-8a9b35d88bd0</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>09c83769-4549-3930-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>09c83769-4549-3930-9b62-d9c4379888cc</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>06936fc5-8b9d-365f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>06936fc5-8b9d-365f-a8ba-68e4b4052053</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f351e627-7b24-3b3c-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>f351e627-7b24-3b3c-8bfd-6b7cdb8403d3</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1064.0</x>
                <y>328.0</y>
            </bends>
            <destination>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7bb3873a-d8eb-3bcc-0000-000000000000</groupId>
                <id>c4cd99a3-9341-3b2f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c4cd99a3-9341-3b2f-98e1-f7e8531a23a7</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>42796fad-1a07-3599-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <versionedComponentId>42796fad-1a07-3599-864d-010f87c0592c</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mariadb://localhost:3306/siaft?user=vagrant&amp;password=vagrant</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.mariadb.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi-latest/lib/mariadb-java-client-3.0.8.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>06936fc5-8b9d-365f-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>06936fc5-8b9d-365f-a8ba-68e4b4052053</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/home/nifi/data/in</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>09c83769-4549-3930-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>192.0</y>
            </position>
            <versionedComponentId>09c83769-4549-3930-9b62-d9c4379888cc</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OriginalUUID</key>
                        <value>
                            <name>OriginalUUID</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>OriginalUUID</key>
                        <value>${uuid}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Store Original UUID</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>245205a2-79e0-3182-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>544.0</x>
                <y>704.0</y>
            </position>
            <versionedComponentId>245205a2-79e0-3182-ad99-64ac66ba3dce</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>
                            <name>Sanitize Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>
                            <name>Sanitize Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>Sanitizer1</value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>/home/nifi/data/sanitizer1.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockSanitizer1/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockSanitizer1/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Mock Sanitizer 1</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>UPDATE_DB</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.SanitizeEngineProcessor</type>
        </processors>
        <processors>
            <id>27274d8c-9010-38ea-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>384.0</y>
            </position>
            <versionedComponentId>27274d8c-9010-38ea-8450-8d115fc5afa7</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors/>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties/>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>WorkflowSelector</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.WorkflowSelector</type>
        </processors>
        <processors>
            <id>2ecd9cf9-600a-3137-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>1360.0</x>
                <y>848.0</y>
            </position>
            <versionedComponentId>2ecd9cf9-600a-3137-8c76-f6ffe9775b5d</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>42796fad-1a07-3599-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>insert into siaft.Sanitize values(null,(select PK_FileAttributes_ID from siaft.FileAttributes where UUID='${siaft.uuid}'),(select PK_SanitizeEngine_ID from siaft.SanitizeEngines where EngineName='${sanitize_engine_name}'),'${process_success}','${process_md5}','${process_mime}',now(),null);</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSQL</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>30a4218e-502f-3d4c-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>1544.0</x>
                <y>256.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Analysis.Success</key>
                        <value>
                            <name>Analysis.Success</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Analysis.Success</key>
                        <value>${analysis_success:equals('analyzed')}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>3b7d5afb-9c26-3576-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>768.0</y>
            </position>
            <versionedComponentId>3b7d5afb-9c26-3576-82f1-7543b3d512b6</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>42796fad-1a07-3599-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>insert into siaft.FileAttributes values(null,'${siaft.uuid}','${MD5}','${filename}','${siaft.entry}',Now(),null);</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSQL</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>5332d2fa-f13e-3bd2-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>512.0</x>
                <y>384.0</y>
            </position>
            <versionedComponentId>5332d2fa-f13e-3bd2-93a0-1c01c456f446</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>relationships</key>
                        <value>
                            <name>relationships</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pdf</key>
                        <value>
                            <name>pdf</name>
                        </value>
                    </entry>
                    <entry>
                        <key>doc</key>
                        <value>
                            <name>doc</name>
                        </value>
                    </entry>
                    <entry>
                        <key>docx</key>
                        <value>
                            <name>docx</name>
                        </value>
                    </entry>
                    <entry>
                        <key>docm</key>
                        <value>
                            <name>docm</name>
                        </value>
                    </entry>
                    <entry>
                        <key>xls</key>
                        <value>
                            <name>xls</name>
                        </value>
                    </entry>
                    <entry>
                        <key>xlsx</key>
                        <value>
                            <name>xlsx</name>
                        </value>
                    </entry>
                    <entry>
                        <key>xlsm</key>
                        <value>
                            <name>xlsm</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ppt</key>
                        <value>
                            <name>ppt</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pptx</key>
                        <value>
                            <name>pptx</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pptm</key>
                        <value>
                            <name>pptm</name>
                        </value>
                    </entry>
                    <entry>
                        <key>png</key>
                        <value>
                            <name>png</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jpg</key>
                        <value>
                            <name>jpg</name>
                        </value>
                    </entry>
                    <entry>
                        <key>gif</key>
                        <value>
                            <name>gif</name>
                        </value>
                    </entry>
                    <entry>
                        <key>bmp</key>
                        <value>
                            <name>bmp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tif</key>
                        <value>
                            <name>tif</name>
                        </value>
                    </entry>
                    <entry>
                        <key>txt</key>
                        <value>
                            <name>txt</name>
                        </value>
                    </entry>
                    <entry>
                        <key>error</key>
                        <value>
                            <name>error</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>relationships</key>
                        <value>Analyzer1,Sanitizer1,Analyzer2,Sanitizer2,Analyzer3,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>pdf</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Analyzer1,Analyzer2,Analyzer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>doc</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>docx</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>docm</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>xls</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>xlsx</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>xlsm</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>ppt</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>pptx</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>pptm</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>png</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>jpg</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>gif</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>bmp</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>tif</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>txt</key>
                        <value>Sanitizer1,Sanitizer2,Sanitizer3,Analyzer1,Landing_Zone</value>
                    </entry>
                    <entry>
                        <key>error</key>
                        <value>Landing_Zone</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DynamicRouter</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Analyzer1</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Analyzer2</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Analyzer3</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Landing_Zone</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Sanitizer1</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Sanitizer2</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Sanitizer3</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.DynamicRouter</type>
        </processors>
        <processors>
            <id>700d9374-43b6-3fdb-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>968.0</x>
                <y>648.0</y>
            </position>
            <versionedComponentId>700d9374-43b6-3fdb-b0d2-b073c2e2a3a0</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>
                            <name>Sanitize Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>
                            <name>Sanitize Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>Sanitizer2</value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>/home/nifi/data/sanitizer2.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockSanitizer2/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockSanitizer2/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Mock Sanitizer 2</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>UPDATE_DB</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.SanitizeEngineProcessor</type>
        </processors>
        <processors>
            <id>a68ee6c5-5d72-34f6-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>1368.0</x>
                <y>72.0</y>
            </position>
            <versionedComponentId>a68ee6c5-5d72-34f6-befd-6b192f96bc7f</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Analysis.Results</key>
                        <value>
                            <name>Analysis.Results</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Analysis.Results</key>
                        <value>$.results.[0].classification</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>c0d6c15f-c2f9-3fb8-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>1560.0</x>
                <y>448.0</y>
            </position>
            <versionedComponentId>c0d6c15f-c2f9-3fb8-bc31-3c8f89378934</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>42796fad-1a07-3599-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>insert into siaft.Analysis values(null,(select PK_FileAttributes_ID from siaft.FileAttributes where UUID='${siaft.uuid}'),(select PK_AnalyzeEngine_ID from siaft.AnalyzeEngines where EngineName='${analysis_engine_name}'),(select PK_SanitizeEngine_ID from siaft.SanitizeEngines where EngineName='${sanitize_engine_name}'),${Analysis.Success},'${Analysis.Results}',now(),null);</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSQL</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>c4cd99a3-9341-3b2f-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>1144.0</x>
                <y>360.0</y>
            </position>
            <versionedComponentId>c4cd99a3-9341-3b2f-98e1-f7e8531a23a7</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>
                            <name>Sanitize Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>
                            <name>Sanitize Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Sanitize Engine</key>
                        <value>Sanitizer3</value>
                    </entry>
                    <entry>
                        <key>Sanitize Service</key>
                        <value>/home/nifi/data/sanitizer3.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockSanitizer3/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockSanitizer3/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Mock Sanitizer 3</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>UPDATE_DB</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.SanitizeEngineProcessor</type>
        </processors>
        <processors>
            <id>e4a61731-ee7f-3442-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>688.0</x>
                <y>72.0</y>
            </position>
            <versionedComponentId>e4a61731-ee7f-3442-980f-32b8899de33c</versionedComponentId>
            <bundle>
                <artifact>siaft-processors</artifact>
                <group>com.nteligen.hq.dhs.siaft.processors</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>
                            <name>NullFlowFileReturnDelay</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Analysis Engine</key>
                        <value>
                            <name>Analysis Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Analysis Service</key>
                        <value>
                            <name>Analysis Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>
                            <name>Host Server</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>
                            <name>SFTP Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>
                            <name>Time Out</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>
                            <name>Input Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>
                            <name>Output Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>
                            <name>User ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>
                            <name>Use HOST Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                        <value>
                            <name>Host Key File</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>NullFlowFileReturnDelay</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Analysis Engine</key>
                        <value>analyzer1</value>
                    </entry>
                    <entry>
                        <key>Analysis Service</key>
                        <value>/home/nifi/data/analyzer1.sh</value>
                    </entry>
                    <entry>
                        <key>Host Server</key>
                        <value>localhost</value>
                    </entry>
                    <entry>
                        <key>SFTP Port</key>
                        <value>22</value>
                    </entry>
                    <entry>
                        <key>Time Out</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Input Path</key>
                        <value>/home/nifi/data/mockAnalyzer1/in</value>
                    </entry>
                    <entry>
                        <key>Output Path</key>
                        <value>/home/nifi/data/mockAnalyzer1/out</value>
                    </entry>
                    <entry>
                        <key>User ID</key>
                        <value>root</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Use HOST Key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Host Key File</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AnalysisEngineProcessor</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>com.nteligen.hq.dhs.siaft.processors.AnalysisEngineProcessor</type>
        </processors>
        <processors>
            <id>e8326cb4-f986-34a0-0000-000000000000</id>
            <parentGroupId>7bb3873a-d8eb-3bcc-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>576.0</y>
            </position>
            <versionedComponentId>e8326cb4-f986-34a0-9c93-fea7d606cc95</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hash Attribute Name</key>
                        <value>
                            <name>Hash Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Algorithm</key>
                        <value>
                            <name>Hash Algorithm</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hash Attribute Name</key>
                        <value>MD5</value>
                    </entry>
                    <entry>
                        <key>Hash Algorithm</key>
                        <value>MD5</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>HashContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.HashContent</type>
        </processors>
    </snippet>
    <timestamp>06/21/2023 17:30:01 EDT</timestamp>
</template>
